<nav id="eyebrow" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" id="toggle-sidenav" class="visible-xs visible-sm">
					<i aria-hidden="true"></i>
					<span class="sr-only">导航切换</span>
				</button>
				<a id="nav-logo" rel="home" href="https://tigerwolf.top/" class="ga headnav-logo" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="lynda.com-logo" data-ga-type="link_click" data-qa="header_logo" itemscope="" itemtype="http://schema.org/Organization" itemprop="url">
					<!--
					<i class="lyndacon lynda-linkedin-logo ldc-logo" itemprop="logo" aria-hidden="true"></i>
					-->
					<i class="lyndacon ldc-logo" itemprop="logo" aria-hidden="true">TigerWolf</i>
					<span class="sr-only">TigerWolf挑战我自己</span>
				</a>
				<div id="submenu-left" style="">
					<ul>
						<li id="submenu-library" class="flat-menu submenu-toggle-cont popover-trigger" data-submenu="library-menu">
							<button id="browse-library" class="btn btn-navigation text-uppercase top-menu-item submenu-toggle" aria-haspopup="true" aria-expanded="false" aria-describedby="main-subject-list">
								分类
								<i class="lyndacon arrow-down nav-caret hidden-xs hidden-sm" aria-hidden="true"></i>
							</button>
							<a id="browse-subjects" href="https://www.tigerwolf.top" aria-hidden="true" tabindex="-1" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library" data-qa="header_subject_menu">
								所有类目
							</a>
							<div id="library-menu" class="popover" data-original-title="" title="">
								<div id="main-subject-list" class="hide">探索</div>
								   <ul id="subject-sub-menu" class="popover-menu has-paths">
										<div class="css-table menu-table">
											<div class="arrow"></div>
												<div class="menu-items">	
													<div class="css-table-row">
													<div class="css-table-cell main-subjects" data-qa="qa_browse_subjects">
														<h5 class="sr-only no-focus-outline">类别</h5>
														<ul role="tablist">
															<li class="active">
																<button id="tab-1" role="tab" aria-controls="details-1" class="btn btn-navigation hidden-xs hidden-sm submenu-expand" aria-selected="true">
																	<i class="lyndacon cat-1 category-icons" title="观点相关博客" aria-hidden="true"></i> 							
																		观点
																</button>
																<a data-details="#details-1" class="ga" href="https://www.lynda.com/3D-Animation-training-tutorials/1-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:3D + Animation" data-ga-type="link_click" data-qa="qa_subject_3D + Animation" tabindex="-1">
																		观点
																</a>
															</li>

															<li>
																<button id="tab-2057" role="tab" aria-controls="details-2057" class="btn btn-navigation hidden-xs hidden-sm submenu-expand" tabindex="-1" aria-selected="false">
																	<i class="lyndacon cat-2057 category-icons" title="信息技术相关博客" aria-hidden="true"></i> 							
																		信息技术
																</button>
																<a data-details="#details-2057" class="ga" href="https://www.lynda.com/IT-training-tutorials/2057-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT" data-ga-type="link_click" data-qa="qa_subject_IT" tabindex="-1">
																		信息技术
																</a>
															</li>

															<li>
																<button id="tab-20" role="tab" aria-controls="details-20" class="btn btn-navigation hidden-xs hidden-sm submenu-expand" tabindex="-1" aria-selected="false">
																<i class="lyndacon cat-20 category-icons" title="音乐相关博客" aria-hidden="true"></i> 							
																		音乐
																</button>
																<a data-details="#details-20" class="ga" href="https://www.lynda.com/Audio-Music-training-tutorials/20-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Audio + Music" data-ga-type="link_click" data-qa="qa_subject_Audio + Music" tabindex="-1">
																		音乐
																</a>
															</li>

															<li>
																<button id="tab-29" role="tab" aria-controls="details-29" class="btn btn-navigation hidden-xs hidden-sm submenu-expand" tabindex="-1" aria-selected="false">
																<i class="lyndacon cat-29 category-icons" title="Business - Online Courses, Classes, Training, Tutorials on Lynda" aria-hidden="true"></i> 							
																		投资
																</button>
																<a data-details="#details-29" class="ga" href="https://www.lynda.com/Business-training-tutorials/29-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Business" data-ga-type="link_click" data-qa="qa_subject_Business" tabindex="-1">
																		投资
																</a>
															</li>

															<li>
																<button id="tab-1792" role="tab" aria-controls="details-1792" class="btn btn-navigation hidden-xs hidden-sm submenu-expand" tabindex="-1" aria-selected="false">
																<i class="lyndacon cat-1792 category-icons" title="Education + Elearning - Online Courses, Classes, Training, Tutorials on Lynda" aria-hidden="true"></i> 							
																		医药健康
																</button>
																<a data-details="#details-1792" class="ga" href="https://www.lynda.com/Education-Elearning-training-tutorials/1792-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Education + Elearning" data-ga-type="link_click" data-qa="qa_subject_Education + Elearning" tabindex="-1">
																		医药健康
																</a>
															</li>

															<li>
																<button id="tab-40" role="tab" aria-controls="details-40" class="btn btn-navigation hidden-xs hidden-sm submenu-expand" tabindex="-1" aria-selected="false">
																<i class="lyndacon cat-40 category-icons" title="Design - Online Courses, Classes, Training, Tutorials on Lynda" aria-hidden="true"></i> 							
																		其他
																</button>
																<a data-details="#details-40" class="ga" href="https://www.lynda.com/Design-training-tutorials/40-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Design" data-ga-type="link_click" data-qa="qa_subject_Design" tabindex="-1">
																		其他
																</a>
															</li>
														</ul>
													</div>

													<div role="tabpanel" id="details-1" aria-labelledby="tab-1" class="css-table-cell subject-details active" aria-hidden="false">
														<div class="container-fluid">
															<div class="row">
																<div class="col-xs-4">
																	<h5><span class="sr-only">观点</span> 话题</h5>
																		<ul>
																			<li>
																				<a href="https://www.lynda.com/Modeling-training-tutorials/7-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:3D + Animation:topics:Modeling" data-ga-type="link_click" data-qa="qa_3D + Animation_subjectDetail_0_Modeling">
																					家国
																				</a>
																			</li>

																			<li>
																				<a href="https://www.lynda.com/Rendering-training-tutorials/8-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:3D + Animation:topics:Rendering" data-ga-type="link_click" data-qa="qa_3D + Animation_subjectDetail_0_Rendering">
																					天下
																				</a>
																			</li>

																		</ul>
																			<a class="more-link ga" href="https://www.lynda.com/3D-Animation-training-tutorials/1-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:3D + Animation:resources:view all" data-ga-type="link_click" data-qa="qa_3D + Animation_subjectDetail_0_viewAll">
																				<span class="sr-only">全部话题</span>
																				<span aria-hidden="true">全部</span>
																			</a>
																</div>       
															</div>
														</div>
													</div>

													<div role="tabpanel" id="details-2057" aria-labelledby="tab-2057" class="css-table-cell subject-details" aria-hidden="true">
														<div class="container-fluid">
															<div class="row">
																<div class="col-xs-4">
																	<h5><span class="sr-only">信息技术</span>话题</h5>
																		<ul>
																			<li>
																				<a href="https://www.lynda.com/Operating-Systems-training-tutorials/36-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT:topics:Operating Systems" data-ga-type="link_click" data-qa="qa_IT_subjectDetail_0_Operating Systems">
																					操作系统
																				</a>
																			</li>
																			<li>
																				<a href="https://www.lynda.com/Cloud-Computing-training-tutorials/1385-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT:topics:Cloud Computing" data-ga-type="link_click" data-qa="qa_IT_subjectDetail_0_Cloud Computing">
																					云计算
																				</a>
																			</li>
																			<li>
																				<a href="https://www.lynda.com/Big-Data-training-tutorials/2061-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT:topics:Big Data" data-ga-type="link_click" data-qa="qa_IT_subjectDetail_0_Big Data">
																					大数据
																				</a>
																			</li>
																			<li>
																				<a href="https://www.lynda.com/Network-Administration-training-tutorials/2067-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT:topics:Network Administration" data-ga-type="link_click" data-qa="qa_IT_subjectDetail_0_Network Administration">
																					运维
																				</a>
																			</li>
																			<li>
																				<a href="https://www.lynda.com/Security-training-tutorials/2069-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT:topics:Security" data-ga-type="link_click" data-qa="qa_IT_subjectDetail_0_Security">
																					安全
																				</a>
																			</li>
																		</ul>
																		<a class="more-link ga" href="https://www.lynda.com/IT-training-tutorials/2057-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:IT:resources:view all" data-ga-type="link_click" data-qa="qa_IT_subjectDetail_0_viewAll">
																		<span class="sr-only">全部话题</span>
																		<span aria-hidden="true">全部</span>
																		</a>
																</div>
															</div>
														</div>
													</div>

													<div role="tabpanel" id="details-20" aria-labelledby="tab-20" class="css-table-cell subject-details" aria-hidden="true">
														<div class="container-fluid">
															<div class="row">
																<div class="col-xs-4">
																	<h5><span class="sr-only">音乐</span> 话题</h5>
																		<ul>
																			<li>
																				<a href="https://www.lynda.com/Live-Performance-training-tutorials/1328-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Audio + Music:topics:Live Performance" data-ga-type="link_click" data-qa="qa_Audio + Music_subjectDetail_0_Live Performance">
																					摇滚
																				</a>
																			</li>		
																			<li>
																				<a href="https://www.lynda.com/Music-Production-training-tutorials/23-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Audio + Music:topics:Music Production" data-ga-type="link_click" data-qa="qa_Audio + Music_subjectDetail_0_Music Production">
																					音乐作品
																				</a>
																			</li>

																		</ul>
																		<a class="more-link ga" href="https://www.lynda.com/Audio-Music-training-tutorials/20-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Audio + Music:resources:view all" data-ga-type="link_click" data-qa="qa_Audio + Music_subjectDetail_0_viewAll">
																			<span class="sr-only">全部话题</span>
																			<span aria-hidden="true">全部</span>
																		</a>
																</div>
															</div>
														</div>
													</div>

													<div role="tabpanel" id="details-29" aria-labelledby="tab-29" class="css-table-cell subject-details" aria-hidden="true">
														<div class="container-fluid">
															<div class="row">
																<div class="col-xs-4">
																	<h5><span class="sr-only">投资</span> 话题</h5>
																		<ul>
																			<li>
																				<a href="https://www.lynda.com/Business-Skills-training-tutorials/484-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Business:topics:Business Skills" data-ga-type="link_click" data-qa="qa_Business_subjectDetail_0_Business Skills">
																					技巧
																				</a>
																			</li>
																			<li>
																				<a href="https://www.lynda.com/Data-Analysis-training-tutorials/1303-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Business:topics:Data Analysis" data-ga-type="link_click" data-qa="qa_Business_subjectDetail_0_Data Analysis">
																					数据分析
																				</a>
																			</li>


																		</ul>
																		<a class="more-link ga" href="https://www.lynda.com/Business-training-tutorials/29-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Business:resources:view all" data-ga-type="link_click" data-qa="qa_Business_subjectDetail_0_viewAll">
																			<span class="sr-only">全部话题</span>
																			<span aria-hidden="true">全部</span>
																		</a>
																</div>	
															</div>				
														</div>
													</div>

													<div role="tabpanel" id="details-1792" aria-labelledby="tab-1792" class="css-table-cell subject-details" aria-hidden="true">
														<div class="container-fluid">
															<div class="row">
																<div class="col-xs-4">
																	<h5><span class="sr-only">医药健康</span>话题</h5>
																		<ul>
																			<li>
																				<a href="https://www.lynda.com/Elearning-training-tutorials/33-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Education + Elearning:topics:Elearning" data-ga-type="link_click" data-qa="qa_Education + Elearning_subjectDetail_0_Elearning">
																					常识
																				</a>
																			</li>

																			<li>
																				<a href="https://www.lynda.com/Teacher-Tools-training-tutorials/1641-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Education + Elearning:topics:Teacher Tools" data-ga-type="link_click" data-qa="qa_Education + Elearning_subjectDetail_0_Teacher Tools">
																					预防
																				</a>
																			</li>	
																		</ul>
																		<a class="more-link ga" href="https://www.lynda.com/Education-Elearning-training-tutorials/1792-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Education + Elearning:resources:view all" data-ga-type="link_click" data-qa="qa_Education + Elearning_subjectDetail_0_viewAll">
																			<span class="sr-only">全部话题</span>
																			<span aria-hidden="true">全部</span>
																		</a>
																</div>
															</div>
														</div>
													</div>                
		
				
													<div role="tabpanel" id="details-40" aria-labelledby="tab-40" class="css-table-cell subject-details" aria-hidden="true">
														<div class="container-fluid">
															<div class="row">
																<div class="col-xs-4">
																	<h5><span class="sr-only">其他</span>话题</h5>
																		<ul>
																			<li>
																				<a href="https://www.lynda.com/Color-training-tutorials/41-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Design:topics:Color" data-ga-type="link_click" data-qa="qa_Design_subjectDetail_0_Color">
																					人生
																				</a>
																			</li>
																			<li>
																				<a href="https://www.lynda.com/Digital-Illustration-training-tutorials/42-0.html" class="ga" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Design:topics:Illustration" data-ga-type="link_click" data-qa="qa_Design_subjectDetail_0_Illustration">
																					哲学
																				</a>
																			</li>

																		</ul>
																		<a class="more-link ga" href="https://www.lynda.com/Design-training-tutorials/40-0.html" data-ga-persona="9" data-ga-category="header" data-ga-action="click" data-ga-label="library:Design:resources:view all" data-ga-type="link_click" data-qa="qa_Design_subjectDetail_0_viewAll">
																			<span class="sr-only">全部话题</span>
																			<span aria-hidden="true">全部</span>
																		</a>
																</div>
															</div>
														</div>
													</div>			
												</div>
											</div>
										</div>
									</ul>
								</div>
							</li>
						</ul>
					
					
					<form id="submenu-search" class="navbar-form" action="https://cse.google.com/cse?cx=010184882900875132754:xabwskrgpzu" method="get" name="topsrch">
						<div id="live-region" aria-live="polite" class="sr-only"></div>
						<div class="form-group">
							<label for="header-search-field" class="sr-only">搜索</label>
							<input id="header-search-field" class="autocomplete" type="search" role="combobox" aria-autocomplete="list" aria-owns="header-search-results" aria-expanded="false" aria-activedescendant="" name="q" placeholder="搜索你的所想" data-limit="7" data-highlight-strategy="replace" data-results-container="#autocomplete-results" data-no-results-container="#no-results-container" data-one-result-container="#one-result-container" data-many-results-container="#many-results-container" data-loading-icon-container="#site-search-submit" data-url-template="/ajax/search/termAutocomplete?q=&lt;%= val %&gt;&amp;limit=&lt;%= limit %&gt;" data-qa="header_search_field" autocomplete="off">
							<button class="clear-search lyndacon close-x collapse" type="reset" title="Clear search"><span class="sr-only">清除</span></button>
						</div>
						<button type="submit" id="site-search-submit" class="lyndacon search hidden-xs hidden-sm" data-qa="header_search_cta" title="Search">
							<span class="sr-only">搜索</span>
						</button>
						<div id="autocomplete-results" class="autocomplete-results-cont autocomplete-dark-theme" style="display: none; left: auto; width: 485px; max-height: 625px;">
							<div class="container-fluid">
								<div class="grouped-result row" data-qa="qa_searchResults">
									<ul id="header-search-results" class="autocomplete-results" role="listbox"></ul>
								</div>
							</div>
							<div id="no-results-container" class="hidden-message no-results-found">没有建议</div>
							<div id="one-result-container" class="hidden-message">有一个建议，用上下键来浏览</div>
							<div id="many-results-container" class="hidden-message">有多个建议，用上下键来浏览</div>
						</div>
						
						<!--
						<div id="live-region" aria-live="polite" class="sr-only"></div>
						<div class="form-group">
							<label for="header-search-field" class="sr-only">搜索</label>
							<input id="header-search-field" class="autocomplete" type="search" role="combobox" aria-autocomplete="list" aria-owns="header-search-results" aria-expanded="false" aria-activedescendant="" name="q" placeholder="搜索你的所想" data-limit="7" data-highlight-strategy="replace" data-results-container="#autocomplete-results" data-no-results-container="#no-results-container" data-one-result-container="#one-result-container" data-many-results-container="#many-results-container" data-loading-icon-container="#site-search-submit" data-url-template="/ajax/search/termAutocomplete?q=&lt;%= val %&gt;&amp;limit=&lt;%= limit %&gt;" data-qa="header_search_field" autocomplete="off">
							<button class="clear-search lyndacon close-x collapse" type="reset" title="Clear search"><span class="sr-only">清除</span></button>
						</div>
						<button type="submit" id="site-search-submit" class="lyndacon search hidden-xs hidden-sm" data-qa="header_search_cta" title="Search">
							<span class="sr-only">搜索</span>
						</button>
						<div id="autocomplete-results" class="autocomplete-results-cont autocomplete-dark-theme" style="display: none; left: auto; width: 485px; max-height: 625px;">
							<div class="container-fluid">
								<div class="grouped-result row" data-qa="qa_searchResults">
									<ul id="header-search-results" class="autocomplete-results" role="listbox"></ul>
								</div>
							</div>
							<div id="no-results-container" class="hidden-message no-results-found">没有建议</div>
							<div id="one-result-container" class="hidden-message">有一个建议，用上下键来浏览</div>
							<div id="many-results-container" class="hidden-message">有多个建议，用上下键来浏览</div>
						</div>
						-->
					</form>
					
					<ul id="submenu-profile" title="Qi" class="submenu-profile">
						<li id="submenu-account" class="submenu-toggle-cont popover-trigger" data-submenu="account-menu">
							<button id="submenu-profile-list" class="btn btn-navigation top-menu-item submenu-toggle" aria-haspopup="true" aria-expanded="false" aria-describedby="account-menu-list">
								<span class="account-name" data-qa="eyebrow_account_menu">关于我们</span>
								<i class="lyndacon avatar account-avatar hidden-xs hidden-sm" aria-hidden="true"></i>
								<i class="lyndacon arrow-down nav-caret hidden-xs hidden-sm" aria-hidden="true"></i>
							</button>
							<div id="account-menu" class="popover dark-pop bottom" style="" data-original-title="" title="">
								<div class="arrow hidden-xs hidden-sm"></div>
								<div class="popover-content">
									<div class="css-table">
										<div class="css-table-row">
											<div id="account-menu-list" class="hide">Manage your account.</div>
											<div class="css-table-cell">
												<ul class="popover-menu">
													<li>
														<a href="../aboutme.md" class="ga" data-ga-persona="9" data-ga-category="header-account" data-ga-action="click" data-ga-label="account:my-profile" data-ga-type="link_click" data-qa="eyebrow_account_profile_item">简历</a>
													</li>
													<li>
														<a href="https://www.lynda.com/orientation" class="ga" data-ga-persona="9" data-ga-category="header-account" data-ga-action="click" data-ga-label="account:goals" data-ga-type="link_click" data-qa="header_mycourses_goals">目标</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<button type="button" id="toggle-search">
					<i class="lyndacon search" aria-hidden="true"></i>
					<span class="sr-only">切换搜索栏</span>
				</button>
			</div>
		</div>
	</div>
</nav>